app/src/main/res/drawable-v24/ic_launcher_foreground.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:er='urn:oasis:names:tc:entity:xmlns:xml:catalog'
    xmlns:xs='http://www.w3.org/2001/XMLSchema'
    elementFormDefault='qualified'
    targetNamespace='urn:oasis:names:tc:entity:xmlns:xml:catalog'>

    <!-- $Id: catalog.xsd 226060 2003-04-22 14:53:32Z ndw $ -->

    <xs:simpleType name='pubIdChars'>
        <!-- A string of the characters defined as pubIdChar in production 13
         of the Second Edition of the XML 1.0 Recommendation. Does not include
         the whitespace characters because they're normalized by XML parsing. -->
        <xs:restriction base='xs:string'>
            <xs:pattern value="[a-zA-Z0-9-'()+,./:=?;!*#@$_%]*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name='publicIdentifier'>
        <xs:restriction base='er:pubIdChars' />
    </xs:simpleType>

    <xs:simpleType name='partialPublicIdentifier'>
        <xs:restriction base='er:pubIdChars' />
    </xs:simpleType>

    <xs:simpleType name='systemOrPublic'>
        <xs:restriction base='xs:string'>
            <xs:enumeration value='system' />
            <xs:enumeration value='public' />
        </xs:restriction>
    </xs:simpleType>

    <!-- The global attribute xml:base is not explicitly declared; -->
    <!-- it is allowed by the anyAttribute declarations. -->

    <xs:complexType name='catalog'>
        <xs:choice
            maxOccurs='unbounded'
            minOccurs='1'>
            <xs:element ref='er:public' />
            <xs:element ref='er:system' />
            <xs:element ref='er:uri' />
            <xs:element ref='er:rewriteSystem' />
            <xs:element ref='er:rewriteURI' />
            <xs:element ref='er:delegatePublic' />
            <xs:element ref='er:delegateSystem' />
            <xs:element ref='er:delegateURI' />
            <xs:element ref='er:nextCatalog' />
            <xs:element ref='er:group' />
            <xs:any
                namespace='##other'
                processContents='skip' />
        </xs:choice>
        <xs:attribute
            name='id'
            ty